* {
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: 'Scope One', serif;
}

a {
  cursor: pointer;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #e1e8f0;
}

header {
  background-color: #9068be;
  padding: 1.5em;
}

section {
  padding: 20px;
}

footer {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
  padding-top: 20px;
  text-align: center;
  background-color: #707880;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  text-align: center;
  font-family: 'Sansita One', cursive;
}

h4, h3 {
  color: #6ed3cf;
  font-family: 'Sansita One', cursive;
}

.wrap {
  height: auto;
  margin: 0 auto -80px;
  /* footer height + space */
  min-height: 100%;
  padding: 0 0 80px;
  /* footer height + space */
  overflow: auto;
}

#brand {
  font-size: 3em;
  font-family: 'Shrikhand', cursive;
  color: #fff;
}

.about-wrap {
  max-width: 575px;
  margin: 0 auto;
}

.about-p {
  font-size: 1.2em
}

.form-wrap {
  padding-bottom: 1em;
  margin-top: 4em;
  text-align: center;
}

#search-box {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0.2em 0.5em;
  color: #181818;
  border: 0;
  width: 80%;
  max-width: 500px;
  height: 2em;
}

.feedback-section {
  text-align: center;
}

.feedback {
  font-size: 1.5em;
  color: #707880;
}

#stream-title {
  margin-bottom: 1em;
  font-size: 1.3em;
  color: #9068be;
}

#random {
  margin: 0 auto;
  background-color: #e62739;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 15px;
  border: 0;
  text-decoration: none;
}

#random:hover {
  background-color: #f0182c;
}

.chatters-section {
  text-align: center;
}

.chatters-wrapper {
  text-align: center;
}

.list-section {
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 20px);
}

#chatters-list li a {
  font-weight: 700;
  color: #707880;
}

#mods-list li a {
  font-weight: 700;
  color: #9068be;
}

#user-details {
  margin-bottom: 1.5em;
}

#user-details li {
  color: #707880;
}

#user-details li img {
  max-width: 280px;
}
