* {
  box-sizing: border-box;
  color: #cfcfcf;
  text-decoration: none;
}

ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  text-align: center;
  padding-top: 1.5em;
}

h4, h3 {
  color: #ffc516;
}

#chatters-list li {
  color: #fff02b;
}

#mods-list li {
  color: #f154ff;
}

section {
  background-color: #3b0075;
  padding: 2em;
}

#search-box {
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  padding: 0.2em;
  color: #181818;
}

#random {
	background-color:#ffff36;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	display:inline-block;
	cursor:pointer;
	color:#242424;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:4px 15px;
  border: 0;
	text-decoration:none;
}
#random:hover {
	background-color:#d5df40;
}

#search-btn {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #f5f5f5;
  font-size: 16px;
  background: #3b0075;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: 0;
}

#search-btn:hover {
  background: #7204e0;
  text-decoration: none;
}

.navbar {
  background-color: #1a002f;
}

.nav-section {
  display: inline-block;
  text-align: center;
  height: 3em;
  width: 33%;
}

.list-section {
  vertical-align: top;
  display: inline-block;
  padding-bottom: 2em;
  text-align: center;
  width: 33%;
}

#brand {
  font-size: 1.5em;
}
